<div class="container my-5">
  <h1>Teams</h1>

  <form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <input class="form-control" placeholder="Team name...">
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <select class="form-control">
                    <option value="0" selected>Name Ascending</option>
                    <option value="1">Name Descending</option>
                    <option value="2">Points For Ascending</option>
                    <option value="3">Points For Descending</option>
                    <option value="4">Points Aganist Ascending</option>
                    <option value="5">Points Aganist Descending</option>
                </select>
            </div>
        </div>
    </div>
</form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Points For</th>
        <th>Points Aganist</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.name }}</td>
        <td>{{ team.pointsFor }}</td>
        <td>{{ team.pointsAganist }}</td>
      </tr>
    </tbody>
  </table>
</div>
